body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
    

}
.header-container {
    display: flex;
    align-items: center;
    
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
    position: relative;
}
.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-link {
    display: block;
    padding: 24 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}
 
.page-hero {
    background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-color: #2E2F42;
    padding: 188px 0;
    display: flex;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
}
.hero-button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    text-align: center;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.features-section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-link {
    width: calc((100% - 72px) / 4);
}

.icon-list-item {
    align-items: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    height: 112px;
    margin-bottom: 8px;
    justify-content: center;
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-text {
   font-size: 16px; 
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;

}
.features-item {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px; 

}
.name-team {
background-color: #FFFFFF;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
 text-align: center;
 margin-bottom: 8px;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}
.team-description {
    padding: 32px 0;
}

.social-links-list {
    display: flex;
    justify-content: center;
    gap: 24px
}

.social-links-item {
    width: 40px;
    height: 40px;
    margin: 0;
}
.icon-link {
    fill: #F4F4FD;

}

.link-team {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team:hover,
.link-team:focus {
    background-color: #404bbf;
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;

}
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;


}
.portfolio-item {
    position: relative;
    width: calc((100% - 48px) / 3);    
    transition: box-shadow 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.portfolio-item:hover .portfolio-second-text {
    transform: translateY(0%);
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #434455;
}
.portfolio-second-text {
    color: #f4f4fd;
    background-color: #4d5ae5; 
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);  
    height: 100%; 
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-second-description {
    position: relative;
    overflow: hidden;
}

.page-footer {
     padding: 100px 0;
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px; 
}
.footer-text-link {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
}
.page-footer {
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-web {
flex-direction: column;
margin-right: 120px;
}
.social-links-footer {
    width: auto;
}
.social-links-list-footer {
    display: flex;
    gap: 16px;
}
.social-links-item-footer {
    width: 40px;
    height: 40px;
}
.link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer {
    fill: #f4f4fd;
}

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
    cursor: pointer;
}